<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kreppe Web</title>
    <link rel="stylesheet" href="./public/css/style.css">
  </head>
  <body>
    <div class="header header--landing">
      <h1 class="header--landing__title">Kreppe Web</h1>
      <p class="header--landing__slogan">By Edgar Balderas</p>
      <a class="header--landing__btn" href="/about">Nosotros</a>
      <a class="header--landing__btn" href="/api/products">Productos</a>
    </div>
  </body>
</html>
